<div class="wrapper">

  <app-category
    (selectCategory)="onSelectCategory($event)"
    (deleteCategory)="onDeleteCategory($event)"
    (updateCategory)="onUpdateCategory($event)"
    (addCategory)="onAddCategory($event)"
    (searchCategory)="onSearchCategory($event)"
    [selectedCategory]="selectedCategory"
    [categories]="categories"
  ></app-category>

  <div class="main-panel">

    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
      <div class="container-fluid">
        <app-header
          [categoryName]="selectedCategory ? selectedCategory.name: 'Все'"
        ></app-header>
      </div>
    </nav>

    <div class="content">
      <div class="container-fluid">

        <app-statistic
          [totalTasksInCategory]="totalTasksCountInCategory"
          [completeTasksInCategory]="completedCountInCategory"
          [uncompleteTasksInCategory]="uncompletedCountInCategory"
        ></app-statistic>

          <app-task
            [tasks]="tasks"
            (deleteTask)="onDeleteTask($event)"
            (updateTask)="onUpdateTask($event)"
            (filterByStatus)="onFilterTasksByStatus($event)"
            (filterByPriority)="onFilterByPriority($event)"
            (filterByTitle)="onSearchTasks($event)"
            [priorities]="priorities"

            (selectCategory)="onSelectCategory($event)"
            (addTask)="onAddTask($event)"
            [selectedCategory]="selectedCategory"

          ></app-task>
      </div>
    </div>

    <app-footer></app-footer>

  </div>
</div>
