<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
  <div class="sidebar-wrapper">


    <!--      поиск категорий -->
    <div class="search-category-area">
      <mat-form-field class="example-full-width">
        <input
          #inputSearchCategory
          (keydown.escape)="searchCategoryTitle = ''; search()"
          (keyup)="search()"
          [(ngModel)]="searchCategoryTitle"
          matInput
          maxlength="256"
          placeholder="Поиск категорий"
        />
        <button
          (click)="searchCategoryTitle = ''; search()"
          *ngIf="inputSearchCategory.value.trim().length > 0" aria-label="Clear"
          class="search-category-button size25 gray"
          mat-button
          mat-icon-button
          matSuffix
        >
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </div>


    <ul class="nav">

      <li class="nav-item pointer"
          (click)="openAddDialog()"
          [class.add]=""
      >
        <a class="nav-link">
          <i class="material-icons">add_circle_outline</i>
          <p>Добавить категорию</p>
        </a>
      </li>

      <li class="nav-item pointer"
          (click)="showTasksByCategory(null)"
          [class.active]="selectedCategory == null"
      >
        <a class="nav-link">
          <i class="material-icons">pets</i>
          <p>Все задачи<span class="uncompleted-count"> {{uncompletedTotal}}</span></p>
        </a>
      </li>

      <li class="nav-item pointer"
          *ngFor="let category of categories;"
          (click)="showTasksByCategory(category)"
          [class.active]="category === selectedCategory"
      >
        <a class="nav-link">
          <i class="material-icons">{{ category.icon }}</i>
          <p>{{ category.name }}</p>
        </a>
      </li>

      <!--
      <li
        (click)="showTasksByCategory(mapValue.key)"
        *ngFor="let mapValue of selectedCategoryMap | keyvalue; let index = index"
        [class.active]="mapValue.key === selectedCategory"
        class="nav-item pointer"
      >
        <a class="nav-link">

          <span class="category-title">{{mapValue.key.name}}</span>

          <span class="edit-category-icon-area">

            <mat-icon
              *ngIf="indexMouseMove === index"
              (click)="$event.stopPropagation(); openEditDialog(mapValue.key)"
              class="edit-category-icon"
            >edit
            </mat-icon>
          </span>

          <span class="uncompleted-count"> {{mapValue.value}}</span>
        </a>
      </li>
      -->

    </ul>
  </div>
</div>

