<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
  <div class="sidebar-wrapper">


    <!--      поиск категорий -->
    <div class="search-category-area">
      <mat-form-field class="example-full-width">
        <input
          #inputSearchCategory
          (keydown.escape)="searchCategoryTitle = ''; search()"
          (keyup)="search()"
          [(ngModel)]="searchCategoryTitle"
          matInput
          maxlength="256"
          placeholder="Поиск категорий"
        />
        <button
          (click)="searchCategoryTitle = ''; search()"
          *ngIf="inputSearchCategory.value.trim().length > 0" aria-label="Clear"
          class="search-category-button size25 gray"
          mat-button
          mat-icon-button
          matSuffix
        >
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </div>


    <ul class="nav">

      <li class="nav-item pointer"
          (click)="openAddDialog()"
          [class.add]=""
      >
        <a class="nav-link">
          <i class="material-icons">add_circle_outline</i>
          <p>Добавить категорию</p>
        </a>
      </li>

      <li class="nav-item pointer"
          (click)="showTasksByCategory(null)"
          [class.active]="selectedCategory == null"
      >
        <a class="nav-link">
          <i class="material-icons">pets</i>
          <p>Все задачи</p>
        </a>
      </li>
      <li class="nav-item pointer"
          *ngFor="let category of categories; let index = index " [class.active]="category === selectedCategory"
          (click)="showTasksByCategory(category)"
          [class.active]="category === selectedCategory"
          (mouseleave)="showEditIcon(null)"
          (mouseenter)="showEditIcon(index)"
          class="nav-item pointer"
      >
        <a class="nav-link">
          <div class="categoryItem">
              <i class="material-icons">{{ category.icon }}</i>
              <p>{{ category.name }}</p>
              <i
                class="material-icons"
                (click)="$event.stopPropagation(); openEditDialog(category)"
              >settings</i>
          </div>
        </a>
      </li>

    </ul>
  </div>
</div>

