<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
  <div class="logo">
    <a href="/" class="simple-text logo-normal">Планер</a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item pointer"
          *ngFor="let category of categories;"
          (click)="showTasksByCategory(category)"
          [class.active]="category === selected"
      >
        <a class="nav-link">
          <i class="material-icons">{{ category.icon }}</i>
          <p>{{ category.name }}</p>
        </a>
      </li>
    </ul>
  </div>
</div>

