.completed {
  text-decoration: line-through;
  color: red;
}
table {
  width: 100%;
}
.mat-column-title {
  cursor: crosshair;
}
td {
  padding: 0;
}
td:nth-child(1) {
  width: 3px;
}
td:nth-child(2) {
  width: 50px;
  text-align: center;
}
