.completed {
  text-decoration: line-through;
  color: red;
}
table {
  width: 100%;
}
.mat-column-title {
  cursor: crosshair;
}
td {
  padding: 0;
}
td:nth-child(1) {
  width: 3px;
}
td:nth-child(2) {
  width: 50px;
  text-align: center;
}
.col-check {
  width: 50px;
  text-align: center;
  background-color: #0a6ebd;
}
.col-operations {
  width: 150px;
  text-align: right;
}
.delete-icon {
  cursor: pointer;
  color: #ea6561;
  font-size: 18px;
  margin-left: 3px;
  margin-right: 3px;
}
.edit-icon {
  cursor: pointer;
  color: #9A9A9A;
  font-size: 18px;
  margin-left: 3px;
  margin-right: 3px;
}

.mat-header-cell {
  font-size: 1.063rem;
  color: #9c27b0 !important;
  font-weight: normal;
}
