<div class="card">
  <div class="card-header card-header-warning">
    <h4 class="card-title">Список задач</h4>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-hover">
      <thead class="text-warning">
      <th>ID</th>
      <th>Название</th>
      <th>Категория</th>
      <th>Приоритет</th>
      <th>Статус</th>
      <th>Дата</th>

      </thead>
      <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{ task.id }}</td>
        <td>{{ task.name }}</td>
        <td>
          <span *ngIf="task.category">{{ task.category.name }}</span>
        </td>
        <td>
          <span *ngIf="task.priority">{{ task.priority.name }}</span>
        </td>
        <td>
          <span *ngIf="task.completed; else elseBlock">Выполнено</span>
          <ng-template #elseBlock>Не выполнено</ng-template>
        </td>
        <td>
          <span *ngIf="task.date">{{ task.date.toDateString() }}</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
